.pall {
  height: 100px;
  width: 100px;
  background-color: chocolate;
  border-radius: 50%;
  position: relative;
  bottom: 0;
  right: 0;
}

header {
  height: 100vh;
  background: url(./img/universe2.png);
  background-size: cover;
}

header .headerTitle {
  font-size: 10em;
}

h2,
h1 {
  font-family: "Heebo", sans-serif;
}

.logo h1 {
  font-family: "Lobster", cursive;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 10vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

nav ul li {
  margin: 20px;
  font-family: "Heebo", sans-serif;
  font-size: 1.2rem;
}

.conteiner-cards h3,
.conteiner-cards p {
  color: black;
}

h3 {
  font-size: 2em;
}

.conteiner-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10vh;
}

.card .title,
.card .description {
  padding: 10px;
}

.cit {
  height: 40vh;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2em;
  padding: 15vh 60vh;
  text-align: center;
}

.cit .autor {
  margin: 30px;
  color: blueviolet;
}

.slider {
  background-color: #1f073b;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slider .hide {
  background-color: #1f073b;
  overflow: hidden;
}

.text {
  padding-left: 40vh;
  font-size: 5rem;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: inline-block;
}

.Home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20vh 10vh;
}

.Home .headerTitle {
  font-size: 10rem;
  text-align: right;
}

.Home .myself-description {
  text-align: right;
}

.slider2 {
  background-color: #c86bc4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
/*# sourceMappingURL=Style.css.map */